body {
  background: white;
  color: black;
  line-height:20px;
  font-size:14px;
  text-align: center;
  outline-width:5px;	
  outline-style:dotted;
  font-family: sans-serif;
  
}
.int{
  color: black;
  text-align: left;
}
ul#listf {
  border-left: 0px;
  color: black;
  text-align: left;

}

ul#listp {
  border-left: 0px;
  color: black;
  text-align: left;

}

p#ask{
  color:gray;
  font-size: 19px;
}
h1#title {
  line-height: 30px;
  font-size:30px;
h2#subtitle {
  line-height: 30px;
  font-size:25px;
  color: black;}

