body {
  background: gray;
  color: white;
  line-height:20px;
  font-size:14px;
  text-align: center;
  outline-width:5px;	
  outline-style:dotted;
  
}
.int{
  color: black;
  text-align: left;
  font-size:16px;
}
ul#listf {
  color: black;
  background: white;
  outline-width:5px;	
  outline-style:solid;
  text-align: left;
}

ul#listp {
  color: white;
  background: red;
  text-align: left;
}

p#ask{
  color:yellow;
  font-size: 19px;
}
h1#title {
  line-height: 30px;
  font-size:30px;
  color: black;}

h2#subtitle {
  line-height: 30px;
  font-size:25px;
  color: white;}
