body {
<<<<<<< HEAD
  background-color: #274257;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  font-family: Arial;
}

div#head {
  line-height: 8px;
  color: #DFC184;
  font-size:13px;
}


div#menu {
  width:200px;
  float:left;
  height:600px; 

  margin:0;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #DFC184;
}

div#text {

 
  width:900px;

}
li{
  list-style:none;
}
.choosen {
  background-color: #8F6048;
}
.intro {
  color: #7EB5D6;
  font-size: 13px;
}

.item {
  color: #DFC184;
=======
  background: gray;
  color: white;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  font-family:Arial;
  outline-width: 5px;	
}

h1 {
  color:black;
}

.intro {
  color: black;
  font-size: 16px;
}

.item {
  color: red;
  background: white;
>>>>>>> 1fa51069be0aa912390bc214e116f27b35b8733e
  text-align: left;
}

.content {
  color: white;
<<<<<<< HEAD
  text-indent: 1em;
  text-align: left;
}

a{  
  color: white;
  text-align: left;
  text-decoration: none;
=======
  text-align: left;
>>>>>>> 1fa51069be0aa912390bc214e116f27b35b8733e
}

